h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
    font-weight: bolder;
    font-size: 18px;
}

p {
    color : red;
    font-style: italic;
}